body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    color: blue;
}

body {
    display: flex;
    justify-content: center;
}


main {
    height: 100%;
    width: 868px;
    display: grid;
    grid-template-columns: 20% 58% 22%;
    grid-gap: 20px;
}

.left {
    display: grid;
    background-color: lightgrey;
    grid-template-rows: 60px 45px 40px 140px 195px 195px;
}

.right {
    display: grid;
    background-color: lightgrey;
    grid-template-rows: 40px 20px 20px 20px 20px 20px;
}

.big-middle {
    display: flex;
    flex-direction: row;
    grid-gap: 20px;
}

.mids {
    display: grid;
}